.App {
  background-color:rgb(70,70,70);
}


.nav-header{
  color: whitesmoke;
  text-shadow: 2px 1px 3px rgb(31, 31, 31);
  margin-top: 0;
  padding: 16px;
  background-color: rgb(85, 85, 85);
  box-shadow: 0px 6px 6px rgb(31, 31, 31);
}

.home-display{
  width: 90%;
  border: 1px solid rgb(27, 201, 27);
  box-shadow: 0px 6px 6px rgb(27, 201, 27);
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0px auto 8px;
}

td,th{
  border: 1px solid rgb(27, 201, 27);
  color:whitesmoke;
  text-align: center;
}



.coin-card{
  color: whitesmoke;
}

.detail-header{
  color: white;
}

a{
  text-decoration:none;
}

.link{
  color: white;
}

.link:hover{
  color: rgb(27, 201, 27);
  text-shadow: 0 1.5px 3px rgb(27, 201, 27);
  
}