.App {
  background-color:rgb(70,70,70);
}

.nav{
  width: 100%;
}


.nav-header{
  color: whitesmoke;
  text-shadow: 2px 1px 3px rgb(27, 201, 27);
  margin-top: 0;
  padding: 16px;
  background-color: rgb(85, 85, 85);
  box-shadow: 0px 6px 6px rgb(31, 31, 31);
}

.gh-link{
  float: right;
}

.filter{
  display: flex;
}

.filter-form{
  margin: 4px auto;
}

.home-display{
  width: 90%;
  border: 1px solid rgb(27, 201, 27);

  box-shadow: 0px 6px 6px rgb(27, 201, 27);
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0px auto 8px;
}

td,th{
  background-color: rgb(85, 85, 85);
  border: 1px solid rgb(27, 201, 27);

  color:whitesmoke;
  text-align: center;
}

@media screen and (max-width: 524px) {
    .tbl-sm{
   display: none;
  }
}


.coin-card{
  color: whitesmoke;
}



a{
  text-decoration:none;
}

.link{
  color: white;
}

.link:hover{
  color: rgb(27, 201, 27);
  text-shadow: 0 1.5px 3px rgb(27, 201, 27);
  
}

h3{
  color: white;
  text-shadow: 2px 1px 3px rgb(27, 201, 27);
  margin: 0;
}

select{
  width: 64px;
  padding: 2px;
  border-radius: 4px;
  background-color:rgb(85, 85, 85);
  box-shadow: 0px 2px 4px rgb(31, 31, 31);
  color: white;
}

select:hover{
  box-shadow: 0px 2px 4px rgb(27, 201, 27);
  cursor: pointer;
}


button{
  color: white;
  margin: 0px 4px 8px;
  border-radius: 4px;
  background-color: rgb(85, 85, 85);
  box-shadow: 0px 2px 4px rgb(31, 31, 31);
}

button:hover{
  box-shadow: 0px 2px 4px rgb(27, 201, 27);
  cursor: pointer;
}

.detail-card{
  width: 50%;
  border: 1px solid rgb(27, 201, 27);
  border-radius: 4px;
  box-shadow:0px 6px 6px rgb(27, 201, 27) ;
  margin: 16px 16px;
}

.detail-header{
  color: white;
}

.card-body{
  margin: 0 16px;
  color: white;
}

.detail-footer{
  margin: 16px;
  text-align: center;
}